html {
    font-family: 'Courier New', monospace;
    font-size: larger;
    font-weight: 300;
}

body {
  background-color: #e7f3ff;
  color: #b2a392;
}

a {
    text-decoration: none;
    color: #dbd0c3;
}

a:hover {
    color: #e5f6fb;
}

#content {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) ;
    text-align: center;
    max-width: 520px;
    padding: 32px;
    line-height: 1.6em;
}

.avatar {
    border-radius: 100%;
    width: 150px;
}

.icons {
    list-style-type: none;
    font-size: xx-large;
    padding: 0;
    display: flex;

}

.icons li {
    display: inline;
    width: 42px;
}

.icons a {
    color: #b2a392;
}

.icons a:hover {
    color: #c6e2ff;
}
