:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 1024px;
    --main-width: 720px;
    --header-height: 44px;
    --footer-height: 70px;
    --radius: 8px;
    --theme: #96AB79;
    --entry: #FFE0E0;
    --primary: #31609E;
    --secondary: #D4D4D4;
    --tertiary: rgb(214, 214, 214);
    --gray: #C72091;
    --content: rgb(30, 30, 30);
    --code-block-bg: rgb(28, 29, 33);
    --code-bg: rgb(245, 245, 245);
    --border: rgb(238, 238, 238);
    --darkcolor: #5e99cc;
    --lightcolor: #5e99cc;
    --semibold: 500;
    --homesize: 16px;
    --textsize: 18px;
    --h1size: 25px;
    --entrysize: 15px;
    --headersize: 16px;
    --footersize: 13px;
    --lineheight: 1.45;
    --lineclamp: 8;
    --marginleft: 26px;
}

.dark {
    --theme: #96AB79;
    --entry: #FFE0E0;
    --primary: #31609E;
    --secondary: #D4D4D4;
    --tertiary: rgb(214, 214, 214);
    --content: rgb(196, 196, 197);
    --code-block-bg: rgb(46, 46, 51);
    --code-bg: rgb(55, 56, 62);
    --border: rgb(51, 51, 51);
}

.list {
    background: var(--code-bg);
}

.dark.list {
    background: var(--theme);
}
