
body {
    background-color: #fffae0; /* pale butter yellow */
}

#content a,
#content a * {
    color: #222222 !important;
    text-decoration: underline !important;
}

#footer small a,
#footer small a * {
    color: inherit !important;
    font-size: 0.75rem !important;
}

#footer small {
    font-size: 0.75rem !important;
}